@import "bootstrap";

body {
  font-family: 'Lexend Exa', sans-serif;
  margin: 0;
}

h1 {
	color: #1F85DE;
	font-size: 50px;
	font-weight: bolder;
	margin-bottom: 0;

}

h2 {
	color: pink;
	font-size: 40px;
	font-family: 'Source Code Pro', monospace;
	margin-top: 0;
}

h3 {
	text-align: center;
	font-size: 28px;
	font-weight: normal;
	margin-top: 100px;
}

.bio {
	color: white;
	font-size: 30px;
	font-family: 'Libre Caslon Display', serif;
}

.me {
	height: 350px;
	width: 350px;
	border-radius: 25%;
	border-style: solid;
	border-color: #A66023;
	margin-top: 40px;



}



.about {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;


}

.grey {
	height: 5px;
	background-color: #97A1A9;
	border: none;
	width: 500px;

}

.about-container {
		background: url('bg.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
}


.yellow {
	border-top: 3px double #F5A623;
	width: 250px;
	border-bottom: none;
	border-right: none;
}

.box {
	float: left;
	width: 42.5%;
	margin-left: 25%;
	margin-top: 80px;
	text-align: center;
	
	

}

.clear {
	clear: both;
}

h4 {
	text-align: center;
	font-size: 24px;
}

p {
	text-align: center;
}

.full-width {
	width: 100%;
}


.skills-and-tools {



}

.border-box {
  border-style: solid;

}


.contact-headline {
  color: white;
}


.contact-me {
	height: 350px;
	background-color: #202020;
	padding-top: 30px;
}


.icons {
	text-align: center;
	margin: 30px 0;
}



.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}


.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;

}


.nav-link {
  color: blue;
  text-decoration: none;
}


li {
  display: inline-block;
  font-size: 12px;
  width: 139px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-left: 30px;


}

.hire-me {
  border-style: solid;
  border-color: orange;

}



